#artikel{
	border-style:solid;
	border-color:#B53333;
 	border-width:2px;
 	padding:20px;
 }
h1{
    position: absolute;
    top: 200px;
    right: 0;
    width: 816px;
    height: 100px;
  }
h2{
    position: absolute;
    top:270px;
    right: 0;
    width: 816px;
    height: 100px;
    color:#A39F9F
  }

