#artikel{
	opacity: 0.7;
}

h1{
    position: absolute;
    top: 380px;
    right:30px;
    width: 816px;
    height: 100px;
    color: white;
  }
p{
    position: absolute;
    top:430px;
    right: 10px;
    width: 840px;
    height: 100px;
    color:#A39F9F;
}
